* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    color: #0071c1;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk0IDI2Ny4wNTIgNTIuNzk0IDI2Ny4wNTIgNTIuNzk0IDI2Ny4wNTIgNTIuNzk0TDI4OS4wNDEgODcuOTk0QzI4OS42MjQgODguOTQxNyAyODkuOTI0IDg5Ljk5ODcgMjg5LjkyNCA5MS4wNjAzQzI4OS45MjQgOTIuMTIxOSAyODkuNjI0IDkzLjE3ODkgMjg5LjA0MSA5NC4xMjY2TDI2Ny4wNTIgMTI5LjMyN0MyNjYuMjU5IDEzMC4xMDkgMjY1LjE2MyAxMzAuNTkzIDI2My45NTIgMTMwLjU5M0MyNjIuNzQxIDEzMC41OTMgMjYxLjY0NSAxMzAuMTA5IDI2MC44NTIgMTI5LjMyN0wyMzguODYzIDk0LjEyNjZDMjM4LjI4IDkzLjE3ODkgMjM3Ljk4IDkyLjEyMTkgMjM3Ljk4IDkxLjA2MDNDMjM3Ljk4IDg5Ljk5ODcgMjM4LjI4IDg4Ljk0MTcgMjM4Ljg2MyA4Ny45OTRMMjYwLjg1MiA1Mi43OTRDMjYxLjY0NSA1MS40ODM3IDI2Mi43NDEgNTEgMjYzLjk1MiA1MUgyNjMuNTA2Wk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OC40NTggNjguMjk3NCAyNTguNDU4IDcxLjE0NjRMMjU4LjQ1OCA4Ny44MzAyQzI1OC40NTggOTAuNjc5MiAyNjAuNzM3IDkyLjk1ODMgMjYzLjU4NiA5Mi45NTgzQzI2Ni40MzUgOTIuOTU4MyAyNjguNzE0IDkwLjY3OTIgMjY4LjcxNCA4Ny44MzAyTDI2OC43MTQgNzEuMTQ2NEMyNjguNzE0IDY4LjI5NzQgMjY2LjQzNSA2Ni4wMTgzIDI2My41ODYgNjYuMDE4M1pNMjYzLjU4NiA5Ni43NDk0QzI2MC43MzcgOTYuNzQ5NCAyNTguNDU4IDk5LjAyODUgMjU4LjQ1OCAxMDEuODc3QzI1OC40NTggMTA0LjcyNiAyNjAuNzM3IDEwNy4wMDUgMjYzLjU4NiAxMDcuMDA1QzI2Ni40MzUgMTA3LjAwNSAyNjguNzE0IDEwNC43MjYgMjY4LjcxNCAxMDEuODc3QzI2OC43MTQgOTkuMDI4NSAyNjYuNDM1IDk2Ljc0OTQgMjYzLjU4NiA5Ni43NDk0WiIgZmlsbD0iI0ZGNkM2QyIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9nPjwvc3ZnPg==) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

